@{
    ViewData["Title"] = "Home";
}

<h2>Bem-vindo à Home</h2>
<ul>
        <li><a href="/User">Gerenciar Usuarios</a></li>
        <li><a href="/Task">Gerenciar Tarefas</a></li>
        <li><a href="/Role">Gerenciar Papeis</a></li>

    <li><a href="/Dashboard">Ir para o Dashboard</a></li>
</ul>
