@{
    ViewData["Title"] = "Home";

    var tarefasDoUsuario = ViewBag.TarefasDoUsuario as List<Tarefa>;
}

<h2>Bem-vindo à Home</h2>
<ul>
    @if (tarefasDoUsuario.Any(t => t.Nome == "Cadastrar Usuário"))
    {
        <li><a href="/User">Gerenciar Usuarios</a></li>
    }
        <li><a href="/Task">Gerenciar Tarefas</a></li>
        <li><a href="/Role">Gerenciar Papeis</a></li>

    <li><a href="/Dashboard">Ir para o Dashboard</a></li>
</ul>
