@{
    ViewData["Title"] = "Home";



    var tarefasDoUsuario = ViewBag.TarefasDoUsuario as List<Tarefa>;
}

<link rel="stylesheet" href="~/css/styles.css" />

<div class="home-container">
    <h2>Bem-vindo</h2>
    <div class="home-menu">
            @if (tarefasDoUsuario != null && tarefasDoUsuario.Any(t => t.Nome == "Cadastrar Usuário"))
            {
                <div class="menu-item">
                    <a href="/User">
                        <div class="icon user-icon"></div>
                        <span>Gerenciar Usuários</span>
                    </a>
                </div>
            }
        <div class="menu-item">
            <a href="/Task">
                <div class="icon clipboard-icon"></div>
                <span>Gerenciar Tarefas</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/Role">
                <div class="icon graph-icon"></div>
                <span>Gerenciar Papéis</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="/Dashboard">
                <div class="icon tool-icon"></div>
                <span>Ir para o Dashboard</span>
            </a>
        </div>
    </div>
</div>
