@model UserCreateViewModel

<link rel="stylesheet" href="~/css/styles.css" />

<div class="form-container">
    <h2>Cadastrar Novo Usuário</h2>
    @if (!ViewData.ModelState.IsValid)

    {
        <div class="alert alert-danger" role="alert">
            <strong>Ops!</strong> Algo deu errado:
            @Html.ValidationSummary(false)
        </div>
    }
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Nome">Nome</label>
            <input type="text" name="Nome" required />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="email" name="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Senha">Senha</label>
            <input type="password" name="Senha" required />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmarSenha">Confirmar Senha</label>
            <input type="password" name="ConfirmarSenha" required />
            <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-submit">Cadastrar</button>
        <a href="/User" class="btn-danger">Cancelar</a>
    </form>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</div>
