@model UserDeleteViewModel

<link rel="stylesheet" href="~/css/style.css" />

<div class="form-container">
    <h2>Confirmar Exclusão</h2>
    <p>Tem certeza de que deseja excluir o usuário "@Model.Nome"?</p>

    <form action="/User/DeleteConfirmed" method="post">
        <input type="hidden" name="id" value="@Model.Id" />

        <div class="button-group">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="/User" class="btn btn-success">Cancelar</a>
        </div>
    </form>
</div>
