@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Conceder Permissões";
}

<link rel="stylesheet" href="~/css/style.css" />

<div class="user-management-wrapper">
    <h2>Conceder Permissões</h2>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Papéis</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                    <td>
                        @if (usuario.Papeis != null && usuario.Papeis.Any())
                        {
                            @string.Join(", ", usuario.Papeis)
                        }
                        else
                        {
                            <span>Nenhum papel</span>
                        }
                    </td>
                    <td>
                        <a href="/User/AddPermissions/@usuario.Id" class="btn-permission">Adicionar Permissões</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="button-group">
        <a href="/User" class="btn-back">Voltar</a>
    </div>
</div>
